[submodule "verl"]
	path = verl
	url = https://github.com/volcengine/verl.git
[submodule "verl_tool/servers/tools/mini_webarena"]
	path = verl_tool/servers/tools/mini_webarena
	url = https://github.com/cogito233/mini_webarena.git
